
/* Images *****************************************************************************************************************************************/

  main img                                                         {max-width: 100%; height: auto;}
  

/* all large images 100 % in small devices */

  .frame-layout-2100 .ce-left     .ce-gallery                      {width: 100%;}
  .frame-layout-2100 .ce-right    .ce-gallery                      {width: 100%;}
  .frame-layout-2100 .ce-center   .ce-gallery                      {width: 100%; margin-left: 0%}
  .frame-layout-2100 .ce-center   .ce-inner,                          
  .frame-layout-2100 .ce-center   .ce-outer                        {float: none; right: 0;}
  .frame-layout-2100 .ce-gallery figure                            {display: block;}
  .frame-layout-2100 .ce-column                                    {margin-right: 0; width: 100%;}  
  .frame-layout-2100 img                                           {width: 100%;}  
  .frame-layout-2100 .ce-bodytext                                  {float: left;}
  
   /* 95 Styles For Images */
  .frame-layout-2095 .ce-left     .ce-gallery                       {width: 100%;}
  .frame-layout-2095 .ce-right    .ce-gallery                       {width: 100%;}
  .frame-layout-2095 .ce-center   .ce-gallery                       {width: 100%; margin-left: 0%}
  .frame-layout-2095 .ce-center   .ce-inner,                          
  .frame-layout-2095 .ce-center   .ce-outer                         {float: none; right: 0;}
  .frame-layout-2095 .ce-gallery figure                             {display: block;}
  .frame-layout-2095 .ce-column                                     {margin-right: 0; width: 100%;}  
  .frame-layout-2095 img                                            {width: 100%;}  
  .frame-layout-2095 .ce-bodytext                                   {float: left;}

   /* 90 Styles For Images */
  .frame-layout-2090 .ce-left     .ce-gallery                       {width: 100%;}
  .frame-layout-2090 .ce-right    .ce-gallery                       {width: 100%;}
  .frame-layout-2090 .ce-center   .ce-gallery                       {width: 100%; margin-left: 0%}
  .frame-layout-2090 .ce-center   .ce-inner,                          
  .frame-layout-2090 .ce-center   .ce-outer                         {float: none; right: 0;}
  .frame-layout-2090 .ce-gallery figure                             {display: block;}
  .frame-layout-2090 .ce-column                                     {margin-right: 0; width: 100%;}  
  .frame-layout-2090 img                                            {width: 100%;} 
  .frame-layout-2090 .ce-bodytext                                   {float: left;}

   /* 85 Styles For Images */
  .frame-layout-2085 .ce-left     .ce-gallery                       {width: 100%;}
  .frame-layout-2085 .ce-right    .ce-gallery                       {width: 100%;}
  .frame-layout-2085 .ce-center   .ce-gallery                       {width: 100%; margin-left: 0%}
  .frame-layout-2085 .ce-center   .ce-inner,                          
  .frame-layout-2085 .ce-center   .ce-outer                         {float: none; right: 0;}
  .frame-layout-2085 .ce-gallery figure                             {display: block;}
  .frame-layout-2085 .ce-column                                     {margin-right: 0; width: 100%;}  
  .frame-layout-2085 img                                            {width: 100%;} 
  .frame-layout-2085 .ce-bodytext                                   {float: left;}
  
   /* 80 Styles For Images */
  .frame-layout-2080 .ce-left     .ce-gallery                       {width: 100%;}
  .frame-layout-2080 .ce-right    .ce-gallery                       {width: 100%;}
  .frame-layout-2080 .ce-center   .ce-gallery                       {width: 100%; margin-left: 0%}
  .frame-layout-2080 .ce-center   .ce-inner,                          
  .frame-layout-2080 .ce-center   .ce-outer                         {float: none; right: 0;}
  .frame-layout-2080 .ce-gallery figure                             {display: block;}
  .frame-layout-2080 .ce-column                                     {margin-right: 0; width: 100%;}  
  .frame-layout-2080 img                                            {width: 100%;} 
  .frame-layout-2080 .ce-bodytext                                   {float: left;}
  
     /* 75 Styles For Images */
  .frame-layout-2075 .ce-left     .ce-gallery                       {width: 100%;}
  .frame-layout-2075 .ce-right    .ce-gallery                       {width: 100%;}
  .frame-layout-2075 .ce-center   .ce-gallery                       {width: 100%; margin-left: 0%}
  .frame-layout-2075 .ce-center   .ce-inner,                          
  .frame-layout-2075 .ce-center   .ce-outer                         {float: none; right: 0;}
  .frame-layout-2075 .ce-gallery figure                             {display: block;}
  .frame-layout-2075 .ce-column                                     {margin-right: 0; width: 100%;}  
  .frame-layout-2075 img                                            {width: 100%;} 
  .frame-layout-2075 .ce-bodytext                                   {float: left;}

/* all medium images 50 % in small devices */

   /* 70 Styles For Images */
  .frame-layout-2070 .ce-left      .ce-gallery                      {width: 100%;}
  .frame-layout-2070 .ce-right     .ce-gallery                      {width: 100%;}
  .frame-layout-2070 .ce-center    .ce-gallery                      {width: 100%; margin-left: 0%}
  .frame-layout-2070 .ce-center   .ce-inner,                          
  .frame-layout-2070 .ce-center   .ce-outer                         {float: none; right: 0;}
  .frame-layout-2070 .ce-gallery figure                             {display: block;}
  .frame-layout-2070 .ce-column                                     {margin-right: 0; width: 100%;} 
  .frame-layout-2070 img                                            {width: 100%;}
  .frame-layout-2070 .ce-bodytext                                   {float: left;}  

   /* 65 Styles For Images */
  .frame-layout-2065 .ce-left      .ce-gallery                      {width: 50%;}
  .frame-layout-2065 .ce-right     .ce-gallery                      {width: 50%;}
  .frame-layout-2065 .ce-center    .ce-gallery                      {width: 50%; margin-left: 0%}
  .frame-layout-2065 .ce-center   .ce-inner,                          
  .frame-layout-2065 .ce-center   .ce-outer                         {float: none; right: 0;}
  .frame-layout-2065 .ce-gallery figure                             {display: block;}
  .frame-layout-2065 .ce-column                                     {margin-right: 0; width: 100%;} 
  .frame-layout-2065 img                                            {width: 100%;} 
  .frame-layout-2065 .ce-bodytext                                   {float: left;} 
  
   /* 60 Styles For Images */
  .frame-layout-2060 .ce-left      .ce-gallery                      {width: 100%;}
  .frame-layout-2060 .ce-right     .ce-gallery                      {width: 100%;}
  .frame-layout-2060 .ce-center    .ce-gallery                      {width: 100%; margin-left: 0%}
  .frame-layout-2060 .ce-center   .ce-inner,                          
  .frame-layout-2060 .ce-center   .ce-outer                         {float: none; right: 0;}
  .frame-layout-2060 .ce-gallery figure                             {display: block;}
  .frame-layout-2060 .ce-column                                     {margin-right: 0; width: 100%;} 
  .frame-layout-2060 img                                            {width: 100%;} 
  .frame-layout-2060 .ce-bodytext                                   {float: left;} 

   /* 55 Styles For Images */
  .frame-layout-2055 .ce-left      .ce-gallery                      {width: 100%;}
  .frame-layout-2055 .ce-right     .ce-gallery                      {width: 100%;}
  .frame-layout-2055 .ce-center    .ce-gallery                      {width: 100%; margin-left: 0%}
  .frame-layout-2055 .ce-center   .ce-inner,                          
  .frame-layout-2055 .ce-center   .ce-outer                         {float: none; right: 0;}
  .frame-layout-2055 .ce-gallery figure                             {display: block;}
  .frame-layout-2055 .ce-column                                     {margin-right: 0; width: 100%;} 
  .frame-layout-2055 img                                            {width: 100%;}  
  .frame-layout-2055 .ce-bodytext                                   {float: left;}

   /* 50 Styles For Images */
  .frame-layout-2050 .ce-left      .ce-gallery                      {width: 100%;}
  .frame-layout-2050 .ce-right     .ce-gallery                      {width: 100%;}
  .frame-layout-2050 .ce-center    .ce-gallery                      {width: 100%; margin-left: 0%}
  .frame-layout-2050 .ce-center   .ce-inner,                          
  .frame-layout-2050 .ce-center   .ce-outer                         {float: none; right: 0;}
  .frame-layout-2050 .ce-gallery figure                             {display: block;}
  .frame-layout-2050 .ce-column                                     {margin-right: 0; width: 100%;} 
  .frame-layout-2050 img                                            {width: 100%;}  
  .frame-layout-2050 .ce-bodytext                                   {float: left;}

   /* 45 Styles For Images */
  .frame-layout-2045 .ce-left      .ce-gallery                      {width: 100%;}
  .frame-layout-2045 .ce-right     .ce-gallery                      {width: 100%;}
  .frame-layout-2045 .ce-center    .ce-gallery                      {width: 100%; margin-left: 0%}
  .frame-layout-2045 .ce-center   .ce-inner,                          
  .frame-layout-2045 .ce-center   .ce-outer                         {float: none; right: 0;}
  .frame-layout-2045 .ce-gallery figure                             {display: block;}
  .frame-layout-2045 .ce-column                                     {margin-right: 0; width: 100%;} 
  .frame-layout-2045 img                                            {width: 100%;}  
  .frame-layout-2045 .ce-bodytext                                   {float: left;}

   /* 40 Styles For Images */
  .frame-layout-2040 .ce-left      .ce-gallery                      {width: 100%;}
  .frame-layout-2040 .ce-right     .ce-gallery                      {width: 100%;}
  .frame-layout-2040 .ce-center    .ce-gallery                      {width: 100%; margin-left: 0%}
  .frame-layout-2040 .ce-center   .ce-inner,                          
  .frame-layout-2040 .ce-center   .ce-outer                         {float: none; right: 0;}
  .frame-layout-2040 .ce-gallery figure                             {display: block;}
  .frame-layout-2040 .ce-column                                     {margin-right: 0; width: 100%;} 
  .frame-layout-2040 img                                            {width: 100%;}
  .frame-layout-2040 .ce-bodytext                                   {float: left;}

   /* 35 Styles For Images */
  .frame-layout-2035 .ce-left      .ce-gallery                      {width: 100%;}
  .frame-layout-2035 .ce-right     .ce-gallery                      {width: 100%;}
  .frame-layout-2035 .ce-center    .ce-gallery                      {width: 100%; margin-left: 0%}
  .frame-layout-2035 .ce-center   .ce-inner,                          
  .frame-layout-2035 .ce-center   .ce-outer                         {float: none; right: 0;}
  .frame-layout-2035 .ce-gallery figure                             {display: block;}
  .frame-layout-2035 .ce-column                                     {margin-right: 0; width: 100%;} 
  .frame-layout-2035 img                                            {width: 100%;} 
  .frame-layout-2035 .ce-bodytext                                   {float: left;}
  
/* all medium images 25 % in small devices */

   /* 30 Styles For Images */
  .frame-layout-2030 .ce-left      .ce-gallery                      {width: 25%;}
  .frame-layout-2030 .ce-right     .ce-gallery                      {width: 25%;}
  .frame-layout-2030 .ce-center    .ce-gallery                      {width: 25%; margin-left: 37.5%}
  .frame-layout-2030 .ce-gallery figure                             {display: block;}
  .frame-layout-2030 .ce-column                                     {margin-right: 0; width: 100%;} 
  .frame-layout-2030 img                                            {width: 100%;}
  
  /* 25 Styles For Images */
  .frame-layout-2025 .ce-left      .ce-gallery                      {width: 25%;}
  .frame-layout-2025 .ce-right     .ce-gallery                      {width: 25%;}
  .frame-layout-2025 .ce-center    .ce-gallery                      {width: 25%; margin-left: 37.5%}
  .frame-layout-2025 .ce-gallery figure                             {display: block;}
  .frame-layout-2025 .ce-column                                     {margin-right: 0; width: 100%;} 
  .frame-layout-2025 img                                            {width: 100%;}  
  
   /* 20 Styles For Images */
  .frame-layout-2020 .ce-left      .ce-gallery                      {width: 25%;}
  .frame-layout-2020 .ce-right     .ce-gallery                      {width: 25%;}
  .frame-layout-2020 .ce-center    .ce-gallery                      {width: 25%; margin-left: 37.5%}
  .frame-layout-2020 .ce-gallery figure                             {display: block;}
  .frame-layout-2020 .ce-column                                     {margin-right: 0; width: 100%;} 
  .frame-layout-2020 img                                            {width: 100%;}
  
   /* 15 Styles For Images */
  .frame-layout-2015 .ce-left      .ce-gallery                      {width: 25%;}
  .frame-layout-2015 .ce-right     .ce-gallery                      {width: 25%;}
  .frame-layout-2015 .ce-center    .ce-gallery                      {width: 25%; margin-left: 37.5%}
  .frame-layout-2015 .ce-gallery figure                             {display: block;}
  .frame-layout-2015 .ce-column                                     {margin-right: 0; width: 100%;} 
  .frame-layout-2015 img                                            {width: 100%;}  
  
   /* 10 Styles For Images */
  .frame-layout-2010 .ce-left      .ce-gallery                      {width: 25%;}
  .frame-layout-2010 .ce-right     .ce-gallery                      {width: 25%;}
  .frame-layout-2010 .ce-center    .ce-gallery                      {width: 25%; margin-left: 37.5%}
  .frame-layout-2010 .ce-gallery figure                             {display: block;}
  .frame-layout-2010 .ce-column                                     {margin-right: 0; width: 100%;} 
  .frame-layout-2010 img                                            {width: 100%;}
  
@media (min-width: 768px) {
  
   /* 100 Styles For Images */

  .frame-layout-2100 .ce-left     .ce-gallery                      {width: 100%;}
  .frame-layout-2100 .ce-right    .ce-gallery                      {width: 100%;}
  .frame-layout-2100 .ce-center   .ce-gallery                      {width: 100%; margin-left: 0%}
  .frame-layout-2100 .ce-center   .ce-inner,                          
  .frame-layout-2100 .ce-center   .ce-outer                        {float: none; right: 0;}
  .frame-layout-2100 .ce-gallery figure                            {display: block;}
  .frame-layout-2100 .ce-column                                    {margin-right: 0; width: 100%;}  
  .frame-layout-2100 img                                           {width: 100%;} 
  .frame-layout-2100 .ce-bodytext                                  {float: none;} 
  
   /* 95 Styles For Images */
  .frame-layout-2095 .ce-left      .ce-gallery                      {width: 95%;}
  .frame-layout-2095 .ce-right     .ce-gallery                      {width: 95%;}
  .frame-layout-2095 .ce-center    .ce-gallery                      {width: 95%; margin-left: 2.5%}
  .frame-layout-2095 .ce-gallery figure                             {display: block;}
  .frame-layout-2095 .ce-column                                     {margin-right: 0; width: 100%;} 
  .frame-layout-2095 img                                            {width: 100%;}  
  .frame-layout-2095 .ce-bodytext                                   {float: none;} 
  
   /* 90 Styles For Images */
  .frame-layout-2090 .ce-left      .ce-gallery                      {width: 90%;}
  .frame-layout-2090 .ce-right     .ce-gallery                      {width: 90%;}
  .frame-layout-2090 .ce-center    .ce-gallery                      {width: 90%; margin-left: 5%}
  .frame-layout-2090 .ce-gallery figure                             {display: block;}
  .frame-layout-2090 .ce-column                                     {margin-right: 0; width: 100%;} 
  .frame-layout-2090 img                                            {width: 100%;}  
  .frame-layout-2090 .ce-bodytext                                   {float: none;} 
  
   /* 85 Styles For Images */
  .frame-layout-2085 .ce-left      .ce-gallery                      {width: 85%;}
  .frame-layout-2085 .ce-right     .ce-gallery                      {width: 85%;}
  .frame-layout-2085 .ce-center    .ce-gallery                      {width: 85%; margin-left: 7.5%}
  .frame-layout-2085 .ce-gallery figure                             {display: block;}
  .frame-layout-2085 .ce-column                                     {margin-right: 0; width: 100%;} 
  .frame-layout-2085 img                                            {width: 100%;}  
  .frame-layout-2085 .ce-bodytext                                   {float: none;} 
  
   /* 80 Styles For Images */
  .frame-layout-2080 .ce-left      .ce-gallery                      {width: 80%;}
  .frame-layout-2080 .ce-right     .ce-gallery                      {width: 80%;}
  .frame-layout-2080 .ce-center    .ce-gallery                      {width: 80%; margin-left: 10%}
  .frame-layout-2080 .ce-gallery figure                             {display: block;}
  .frame-layout-2080 .ce-column                                     {margin-right: 0; width: 100%;} 
  .frame-layout-2080 img                                            {width: 100%;}  
  .frame-layout-2080 .ce-bodytext                                   {float: none;} 
  
     /* 75 Styles For Images */
  .frame-layout-2075 .ce-left      .ce-gallery                      {width: 75%;}
  .frame-layout-2075 .ce-right     .ce-gallery                      {width: 75%;}
  .frame-layout-2075 .ce-center    .ce-gallery                      {width: 75%; margin-left: 12.5%}
  .frame-layout-2075 .ce-gallery figure                             {display: block;}
  .frame-layout-2075 .ce-column                                     {margin-right: 0; width: 100%;} 
  .frame-layout-2075 img                                            {width: 100%;} 
  .frame-layout-2075 .ce-bodytext                                   {float: none;} 

   /* 70 Styles For Images */
  .frame-layout-2070 .ce-left      .ce-gallery                      {width: 70%;}
  .frame-layout-2070 .ce-right     .ce-gallery                      {width: 70%;}
  .frame-layout-2070 .ce-center    .ce-gallery                      {width: 70%; margin-left: 15%}
  .frame-layout-2070 .ce-gallery figure                             {display: block;}
  .frame-layout-2070 .ce-column                                     {margin-right: 0; width: 100%;} 
  .frame-layout-2070 img                                            {width: 100%;}  
  .frame-layout-2070 .ce-bodytext                                   {float: none;} 

   /* 65 Styles For Images */
  .frame-layout-2065 .ce-left      .ce-gallery                      {width: 65%;}
  .frame-layout-2065 .ce-right     .ce-gallery                      {width: 65%;}
  .frame-layout-2065 .ce-center    .ce-gallery                      {width: 65%; margin-left: 17.5%}
  .frame-layout-2065 .ce-gallery figure                             {display: block;}
  .frame-layout-2065 .ce-column                                     {margin-right: 0; width: 100%;} 
  .frame-layout-2065 img                                            {width: 100%;}  
  .frame-layout-2065 .ce-bodytext                                   {float: none;} 
  
   /* 60 Styles For Images */
  .frame-layout-2060 .ce-left      .ce-gallery                      {width: 60%;}
  .frame-layout-2060 .ce-right     .ce-gallery                      {width: 60%;}
  .frame-layout-2060 .ce-center    .ce-gallery                      {width: 60%; margin-left: 20%}
  .frame-layout-2060 .ce-gallery figure                             {display: block;}
  .frame-layout-2060 .ce-column                                     {margin-right: 0; width: 100%;} 
  .frame-layout-2060 img                                            {width: 100%;}  
  .frame-layout-2060 .ce-bodytext                                   {float: none;} 

   /* 55 Styles For Images */
  .frame-layout-2055 .ce-left      .ce-gallery                      {width: 55%;}
  .frame-layout-2055 .ce-right     .ce-gallery                      {width: 55%;}
  .frame-layout-2055 .ce-center    .ce-gallery                      {width: 55%; margin-left: 22.5%}
  .frame-layout-2055 .ce-gallery figure                             {display: block;}
  .frame-layout-2055 .ce-column                                     {margin-right: 0; width: 100%;} 
  .frame-layout-2055 img                                            {width: 100%;}  
  .frame-layout-2055 .ce-bodytext                                   {float: none;} 
  
   /* 50 Styles For Images */
  .frame-layout-2050 .ce-left      .ce-gallery                      {width: 50%;}
  .frame-layout-2050 .ce-right     .ce-gallery                      {width: 50%;}
  .frame-layout-2050 .ce-center    .ce-gallery                      {width: 50%; margin-left: 25%}
  .frame-layout-2050 .ce-gallery figure                             {display: block;}
  .frame-layout-2050 .ce-column                                     {margin-right: 0; width: 100%;} 
  .frame-layout-2050 img                                            {width: 100%;}  
  .frame-layout-2050 .ce-bodytext                                   {float: none;} 

   /* 45 Styles For Images */
  .frame-layout-2045 .ce-left      .ce-gallery                      {width: 45%;}
  .frame-layout-2045 .ce-right     .ce-gallery                      {width: 45%;}
  .frame-layout-2045 .ce-center    .ce-gallery                      {width: 45%; margin-left: 27.5%}
  .frame-layout-2045 .ce-gallery figure                             {display: block;}
  .frame-layout-2045 .ce-column                                     {margin-right: 0; width: 100%;} 
  .frame-layout-2045 img                                            {width: 100%;}
  .frame-layout-2045 .ce-bodytext                                   {float: none;} 
  
   /* 40 Styles For Images */
  .frame-layout-2040 .ce-left      .ce-gallery                      {width: 40%;}
  .frame-layout-2040 .ce-right     .ce-gallery                      {width: 40%;}
  .frame-layout-2040 .ce-center    .ce-gallery                      {width: 40%; margin-left: 30%}
  .frame-layout-2040 .ce-gallery figure                             {display: block;}
  .frame-layout-2040 .ce-column                                     {margin-right: 0; width: 100%;} 
  .frame-layout-2040 img                                            {width: 100%;}  
  .frame-layout-2040 .ce-bodytext                                   {float: none;} 

   /* 35 Styles For Images */
  .frame-layout-2035 .ce-left      .ce-gallery                      {width: 35%;}
  .frame-layout-2035 .ce-right     .ce-gallery                      {width: 35%;}
  .frame-layout-2035 .ce-center    .ce-gallery                      {width: 35%; margin-left: 32.5%}
  .frame-layout-2035 .ce-gallery figure                             {display: block;}
  .frame-layout-2035 .ce-column                                     {margin-right: 0;}
  .frame-layout-2035 img                                            {width: 100%;} 
  .frame-layout-2035 .ce-bodytext                                   {float: none;} 

   /* 30 Styles For Images */
  .frame-layout-2030 .ce-left      .ce-gallery                      {width: 30%;}
  .frame-layout-2030 .ce-right     .ce-gallery                      {width: 30%;}
  .frame-layout-2030 .ce-center    .ce-gallery                      {width: 30%; margin-left: 35%}
  .frame-layout-2030 .ce-gallery figure                             {display: block;}
  .frame-layout-2030 .ce-column                                     {margin-right: 0;}
  .frame-layout-2030 img                                            {width: 100%;}  
  
   /* 25 Styles For Images */
  .frame-layout-2025 .ce-left      .ce-gallery                      {width: 25%;}
  .frame-layout-2025 .ce-right     .ce-gallery                      {width: 25%;}
  .frame-layout-2025 .ce-center    .ce-gallery                      {width: 25%; margin-left: 37.5%}
  .frame-layout-2025 .ce-gallery figure                             {display: block;}
  .frame-layout-2025 .ce-column                                     {margin-right: 0; width: 100%;} 
  .frame-layout-2025 img                                            {width: 100%;}  
  
   /* 20 Styles For Images */
  .frame-layout-2020 .ce-left      .ce-gallery                      {width: 20%;}
  .frame-layout-2020 .ce-right     .ce-gallery                      {width: 20%;}
  .frame-layout-2020 .ce-center    .ce-gallery                      {width: 20%; margin-left: 40%}
  .frame-layout-2020 .ce-gallery figure                             {display: block;}
  .frame-layout-2020 .ce-column                                     {margin-right: 0; width: 100%;} 
  .frame-layout-2020 img                                            {width: 100%;}  
  
   /* 15 Styles For Images */
  .frame-layout-2015 .ce-left      .ce-gallery                      {width: 15%;}
  .frame-layout-2015 .ce-right     .ce-gallery                      {width: 15%;}
  .frame-layout-2015 .ce-center    .ce-gallery                      {width: 15%; margin-left: 42.5%}
  .frame-layout-2015 .ce-gallery figure                             {display: block;}
  .frame-layout-2015 .ce-column                                     {margin-right: 0; width: 100%;} 
  .frame-layout-2015 img                                            {width: 100%;}  
  
   /* 10 Styles For Images */
  .frame-layout-2010 .ce-left      .ce-gallery                      {width: 10%;}
  .frame-layout-2010 .ce-right     .ce-gallery                      {width: 10%;}
  .frame-layout-2010 .ce-center    .ce-gallery                      {width: 10%; margin-left: 45%}
  .frame-layout-2010 .ce-gallery figure                             {display: block;}
  .frame-layout-2010 .ce-column                                     {margin-right: 0; width: 100%;} 
  .frame-layout-2010 img                                            {width: 100%;}  
  
   /* 5 Styles For Images */
  .frame-layout-2005 .ce-left      .ce-gallery                      {width: 5%;}
  .frame-layout-2005 .ce-right     .ce-gallery                      {width: 5%;}
  .frame-layout-2005 .ce-center    .ce-gallery                      {width: 5%; margin-left: 47.5%}
  .frame-layout-2005 .ce-gallery figure                             {display: block;}
  .frame-layout-2005 .ce-column                                     {margin-right: 0; width: 100%;} 
  .frame-layout-2005 img                                            {width: 100%;}  
  
}


/***************************************/
  
   /* two cols */
  .ic-2 .ce-column                                           {width: 50%;}
  .ic-2 .ce-column:first-of-type figure                      {padding-right: 7.5px}
  .ic-2 .ce-column:last-of-type figure                       {padding-left: 7.5px}
  
  /* three cols */
  .ic-3 .ce-row                                              {margin-left: -7.5px; margin-right: -7.5px;}
  .ic-3 .ce-column                                           {width: 33.33%;}
  .ic-3 .ce-column figure                                    {padding-left: 7.5px; padding-right: 7.5px}

    /* four cols */
  .ic-4 .ce-row                                              {margin-left: -7.5px; margin-right: -7.5px;}
  .ic-4 .ce-column                                           {width: 25%;}
  .ic-4 .ce-column figure                                    {padding-left: 7.5px; padding-right: 7.5px}
     
    /* five cols */
  .ic-5 .ce-row                                              {margin-left: -7.5px; margin-right: -7.5px;}
  .ic-5 .ce-column                                           {width: 20%;}
  .ic-5 .ce-column figure                                    {padding-left: 7.5px; padding-right: 7.5px}

    /* six cols */
  .ic-6 .ce-row                                              {margin-left: -7.5px; margin-right: -7.5px;}
  .ic-6 .ce-column                                           {width: 16.66%;}
  .ic-6 .ce-column figure                                    {padding-left: 7.5px; padding-right: 7.5px}
  
    /* seven cols */
  .ic-7 .ce-row                                              {margin-left: -7.5px; margin-right: -7.5px;}
  .ic-7 .ce-column                                           {width: 14.285%;}
  .ic-7 .ce-column figure                                    {padding-left: 7.5px; padding-right: 7.5px}
  
    /* eight cols */
  .ic-8 .ce-row                                              {margin-left: -7.5px; margin-right: -7.5px;}
  .ic-8 .ce-column                                           {width: 12.5%;}
  .ic-8 .ce-column figure                                    {padding-left: 7.5px; padding-right: 7.5px}
  
  
@media screen and (max-width: 575px) {

    .ce-row                                                  {margin-bottom: 0;}
    
   /* two cols */
  .ic-2 .ce-column                                           {width: 100%;  padding-bottom: 15px;}
  .ic-2 .ce-column:first-of-type figure                      {padding-right: 0}
  .ic-2 .ce-column:last-of-type figure                       {padding-left: 0}
  
  /* three cols */
  .ic-3 .ce-column                                           {width: 100%; padding-bottom: 15px;}
  .ic-3 .ce-column:first-of-type figure                      {padding-right: 0}
  .ic-3 .ce-column:last-of-type figure                       {padding-left: 0}

   /* four cols */
   
  .ic-4 .ce-column                                           {width: 50%; padding-bottom: 15px;}
  .ic-4 .ce-column:first-of-type figure                      {padding-right: 7.5px; margin-bottom: -1px;}
  .ic-4 .ce-column:last-of-type figure                       {padding-left: 7.5px}
 
    /* five cols */
  .ic-5 .ce-inner                                            {margin-left: -7.5px; margin-right: -7.5px;} 
  .ic-5 .ce-row                                              {display: inline;} 
  .ic-5 .ce-column                                           {width: 50%; padding-bottom: 15px;}
  .ic-5 .ce-column:first-of-type figure                      {padding-right: 7.5px; margin-bottom: -1px;}
  .ic-5 .ce-column:last-of-type figure                       {padding-left: 7.5px;}

    /* six cols */
  .ic-6 .ce-row                                              {margin-left: -7.5px; margin-right: -7.5px;}
  .ic-6 .ce-column                                           {width: 33.33%; padding-bottom: 15px;}
  .ic-6 .ce-column figure                                    {padding-left: 7.5px; padding-right: 7.5px}
  
    /* seven cols */
  .ic-7 .ce-inner                                            {margin-left: -7.5px; margin-right: -7.5px;} 
  .ic-7 .ce-row                                              {display: inline;} 
  .ic-7 .ce-column                                           {width: 33.33%;  padding-bottom: 15px;}
  .ic-7 .ce-column figure                                    {padding-left: 7.5px; padding-right: 7.5px}
  .ic-7 .ce-column:first-of-type figure                      {margin-bottom: -1px;}
  
    /* eight cols */
  .ic-8 .ce-inner                                            {margin-left: -7.5px; margin-right: -7.5px;} 
  .ic-8 .ce-row                                              {display: inline;} 
  .ic-8 .ce-column                                           {width: 33.33%;  padding-bottom: 15px;}
  .ic-8 .ce-column figure                                    {padding-left: 7.5px; padding-right: 7.5px}
}


@media screen and (max-width: 768px) {
    
   .ce-row                                                   {margin-bottom: 0;}
    
   /* two cols */
  .ic-2 .ce-column                                           {width: 50%;}
  .ic-2 .ce-column:first-of-type figure                      {padding-right: 7.5px}
  .ic-2 .ce-column:last-of-type figure                       {padding-left: 7.5px}
  
  /* three cols */
  .ic-3 .ce-row                                              {margin-left: -7.5px; margin-right: -7.5px;}
  .ic-3 .ce-column                                           {width: 33.33%;}
  .ic-3 .ce-column figure                                    {padding-left: 7.5px; padding-right: 7.5px}
  
    /* four cols */
  .ic-4 .ce-row                                              {margin-left: -7.5px; margin-right: -7.5px;}
  .ic-4 .ce-column                                           {width: 33.33%;}
  .ic-4 .ce-column figure                                    {padding-left: 7.5px; padding-right: 7.5px}
     
    /* five cols */
  .ic-5 .ce-row                                              {margin-left: -7.5px; margin-right: -7.5px;}
  .ic-5 .ce-column                                           {width: 33.33%;}
  .ic-5 .ce-column figure                                    {padding-left: 7.5px; padding-right: 7.5px}
  
    /* six cols */
  .ic-6 .ce-row                                              {margin-left: -7.5px; margin-right: -7.5px;}
  .ic-6 .ce-column                                           {width: 25%;  padding-bottom: 15px;}
  .ic-6 .ce-column figure                                    {padding-left: 7.5px; padding-right: 7.5px}
  
    /* seven cols */
  .ic-7 .ce-inner                                            {margin-left: -7.5px; margin-right: -7.5px;} 
  .ic-7 .ce-row                                              {display: inline;} 
  .ic-7 .ce-column                                           {width: 25%;  padding-bottom: 15px;}
  .ic-7 .ce-column figure                                    {padding-left: 7.5px; padding-right: 7.5px; margin-bottom: -1px; }
  
  
    /* eight cols */
  .ic-8 .ce-row                                              {margin-left: -7.5px; margin-right: -7.5px;}
  .ic-8 .ce-column                                           {width: 25%;  padding-bottom: 15px;}
  .ic-8 .ce-column figure                                    {padding-left: 7.5px; padding-right: 7.5px}
  
  
}



  
  
