
/* Images *****************************************************************************************************************************************/

  main img                                                         {max-width: 100%; height: auto;}
  main .ce-column figure                                            {overflow: hidden;}

/* all large images 100 % in small devices */

  .frame-layout-2100 .ce-left     .ce-gallery                      {width: 100%;}
  .frame-layout-2100 .ce-right    .ce-gallery                      {width: 100%;}
  .frame-layout-2100 .ce-center   .ce-gallery                      {width: 100%; margin-left: 0%}
  .frame-layout-2100 .ce-center   .ce-inner,                          
  .frame-layout-2100 .ce-center   .ce-outer                        {float: none; right: 0;}
  .frame-layout-2100 .ce-gallery figure                            {display: block;}
  .frame-layout-2100 .ce-column                                    {margin-right: 0; width: 100%;}  
  .frame-layout-2100 img                                           {width: 100%;}  
  .frame-layout-2100 .ce-bodytext                                  {float: left;}
  
   /* 95 Styles For Images */
  .frame-layout-2095 .ce-left     .ce-gallery                       {width: 100%;}
  .frame-layout-2095 .ce-right    .ce-gallery                       {width: 100%;}
  .frame-layout-2095 .ce-center   .ce-gallery                       {width: 100%; margin-left: 0%}
  .frame-layout-2095 .ce-center   .ce-inner,                          
  .frame-layout-2095 .ce-center   .ce-outer                         {float: none; right: 0;}
  .frame-layout-2095 .ce-gallery figure                             {display: block;}
  .frame-layout-2095 .ce-column                                     {margin-right: 0; width: 100%;}  
  .frame-layout-2095 img                                            {width: 100%;}  
  .frame-layout-2095 .ce-bodytext                                   {float: left;}

   /* 90 Styles For Images */
  .frame-layout-2090 .ce-left     .ce-gallery                       {width: 100%;}
  .frame-layout-2090 .ce-right    .ce-gallery                       {width: 100%;}
  .frame-layout-2090 .ce-center   .ce-gallery                       {width: 100%; margin-left: 0%}
  .frame-layout-2090 .ce-center   .ce-inner,                          
  .frame-layout-2090 .ce-center   .ce-outer                         {float: none; right: 0;}
  .frame-layout-2090 .ce-gallery figure                             {display: block;}
  .frame-layout-2090 .ce-column                                     {margin-right: 0; width: 100%;}  
  .frame-layout-2090 img                                            {width: 100%;} 
  .frame-layout-2090 .ce-bodytext                                   {float: left;}

   /* 85 Styles For Images */
  .frame-layout-2085 .ce-left     .ce-gallery                       {width: 100%;}
  .frame-layout-2085 .ce-right    .ce-gallery                       {width: 100%;}
  .frame-layout-2085 .ce-center   .ce-gallery                       {width: 100%; margin-left: 0%}
  .frame-layout-2085 .ce-center   .ce-inner,                          
  .frame-layout-2085 .ce-center   .ce-outer                         {float: none; right: 0;}
  .frame-layout-2085 .ce-gallery figure                             {display: block;}
  .frame-layout-2085 .ce-column                                     {margin-right: 0; width: 100%;}  
  .frame-layout-2085 img                                            {width: 100%;} 
  .frame-layout-2085 .ce-bodytext                                   {float: left;}
  
   /* 80 Styles For Images */
  .frame-layout-2080 .ce-left     .ce-gallery                       {width: 100%;}
  .frame-layout-2080 .ce-right    .ce-gallery                       {width: 100%;}
  .frame-layout-2080 .ce-center   .ce-gallery                       {width: 100%; margin-left: 0%}
  .frame-layout-2080 .ce-center   .ce-inner,                          
  .frame-layout-2080 .ce-center   .ce-outer                         {float: none; right: 0;}
  .frame-layout-2080 .ce-gallery figure                             {display: block;}
  .frame-layout-2080 .ce-column                                     {margin-right: 0; width: 100%;}  
  .frame-layout-2080 img                                            {width: 100%;} 
  .frame-layout-2080 .ce-bodytext                                   {float: left;}
  
     /* 75 Styles For Images */
  .frame-layout-2075 .ce-left     .ce-gallery                       {width: 100%;}
  .frame-layout-2075 .ce-right    .ce-gallery                       {width: 100%;}
  .frame-layout-2075 .ce-center   .ce-gallery                       {width: 100%; margin-left: 0%}
  .frame-layout-2075 .ce-center   .ce-inner,                          
  .frame-layout-2075 .ce-center   .ce-outer                         {float: none; right: 0;}
  .frame-layout-2075 .ce-gallery figure                             {display: block;}
  .frame-layout-2075 .ce-column                                     {margin-right: 0; width: 100%;}  
  .frame-layout-2075 img                                            {width: 100%;} 
  .frame-layout-2075 .ce-bodytext                                   {float: left;}

/* all medium images 50 % in small devices */

   /* 70 Styles For Images */
  .frame-layout-2070 .ce-left      .ce-gallery                      {width: 50%;}
  .frame-layout-2070 .ce-right     .ce-gallery                      {width: 50%;}
  .frame-layout-2070 .ce-center    .ce-gallery                      {width: 50%; margin-left: 50%}
  .frame-layout-2070 .ce-gallery figure                             {display: block;}
  .frame-layout-2070 .ce-column                                     {margin-right: 0; width: 100%;} 
  .frame-layout-2070 img                                            {width: 100%;} 

   /* 65 Styles For Images */
  .frame-layout-2065 .ce-left      .ce-gallery                      {width: 50%;}
  .frame-layout-2065 .ce-right     .ce-gallery                      {width: 50%;}
  .frame-layout-2065 .ce-center    .ce-gallery                      {width: 50%; margin-left: 50%}
  .frame-layout-2065 .ce-gallery figure                             {display: block;}
  .frame-layout-2065 .ce-column                                     {margin-right: 0; width: 100%;} 
  .frame-layout-2065 img                                            {width: 100%;} 

   /* 60 Styles For Images */
  .frame-layout-2060 .ce-left      .ce-gallery                      {width: 50%;}
  .frame-layout-2060 .ce-right     .ce-gallery                      {width: 50%;}
  .frame-layout-2060 .ce-center    .ce-gallery                      {width: 50%; margin-left: 50%}
  .frame-layout-2060 .ce-gallery figure                             {display: block;}
  .frame-layout-2060 .ce-column                                     {margin-right: 0; width: 100%;} 
  .frame-layout-2060 img                                            {width: 100%;} 

   /* 55 Styles For Images */
  .frame-layout-2055 .ce-left      .ce-gallery                      {width: 50%;}
  .frame-layout-2055 .ce-right     .ce-gallery                      {width: 50%;}
  .frame-layout-2055 .ce-center    .ce-gallery                      {width: 50%; margin-left: 50%}
  .frame-layout-2055 .ce-gallery figure                             {display: block;}
  .frame-layout-2055 .ce-column                                     {margin-right: 0; width: 100%;} 
  .frame-layout-2055 img                                            {width: 100%;} 


   /* 50 Styles For Images */
  .frame-layout-2050 .ce-left      .ce-gallery                      {width: 50%;}
  .frame-layout-2050 .ce-right     .ce-gallery                      {width: 50%;}
  .frame-layout-2050 .ce-center    .ce-gallery                      {width: 50%; margin-left: 50%}
  .frame-layout-2050 .ce-gallery figure                             {display: block;}
  .frame-layout-2050 .ce-column                                     {margin-right: 0; width: 100%;} 
  .frame-layout-2050 img                                            {width: 100%;} 

   /* 45 Styles For Images */
  .frame-layout-2045 .ce-left      .ce-gallery                      {width: 50%;}
  .frame-layout-2045 .ce-right     .ce-gallery                      {width: 50%;}
  .frame-layout-2045 .ce-center    .ce-gallery                      {width: 50%; margin-left: 50%}
  .frame-layout-2045 .ce-gallery figure                             {display: block;}
  .frame-layout-2045 .ce-column                                     {margin-right: 0; width: 100%;} 
  .frame-layout-2045 img                                            {width: 100%;} 

   /* 40 Styles For Images */
  .frame-layout-2040 .ce-left      .ce-gallery                      {width: 50%;}
  .frame-layout-2040 .ce-right     .ce-gallery                      {width: 50%;}
  .frame-layout-2040 .ce-center    .ce-gallery                      {width: 50%; margin-left: 50%}
  .frame-layout-2040 .ce-gallery figure                             {display: block;}
  .frame-layout-2040 .ce-column                                     {margin-right: 0; width: 100%;} 
  .frame-layout-2040 img                                            {width: 100%;} 
  
   /* 35 Styles For Images */
  .frame-layout-2035 .ce-left      .ce-gallery                      {width: 50%;}
  .frame-layout-2035 .ce-right     .ce-gallery                      {width: 50%;}
  .frame-layout-2035 .ce-center    .ce-gallery                      {width: 50%; margin-left: 50%}
  .frame-layout-2035 .ce-gallery figure                             {display: block;}
  .frame-layout-2035 .ce-column                                     {margin-right: 0; width: 100%;} 
  .frame-layout-2035 img                                            {width: 100%;} 
  

/* all medium images 25 % in small devices */

   /* 30 Styles For Images */
  .frame-layout-2030 .ce-left      .ce-gallery                      {width: 25%;}
  .frame-layout-2030 .ce-right     .ce-gallery                      {width: 25%;}
  .frame-layout-2030 .ce-center    .ce-gallery                      {width: 25%; margin-left: 37.5%}
  .frame-layout-2030 .ce-gallery figure                             {display: block;}
  .frame-layout-2030 .ce-column                                     {margin-right: 0; width: 100%;} 
  .frame-layout-2030 img                                            {width: 100%;}
  
  /* 25 Styles For Images */
  .frame-layout-2025 .ce-left      .ce-gallery                      {width: 25%;}
  .frame-layout-2025 .ce-right     .ce-gallery                      {width: 25%;}
  .frame-layout-2025 .ce-center    .ce-gallery                      {width: 25%; margin-left: 37.5%}
  .frame-layout-2025 .ce-gallery figure                             {display: block;}
  .frame-layout-2025 .ce-column                                     {margin-right: 0; width: 100%;} 
  .frame-layout-2025 img                                            {width: 100%;}  
  
   /* 20 Styles For Images */
  .frame-layout-2020 .ce-left      .ce-gallery                      {width: 25%;}
  .frame-layout-2020 .ce-right     .ce-gallery                      {width: 25%;}
  .frame-layout-2020 .ce-center    .ce-gallery                      {width: 25%; margin-left: 37.5%}
  .frame-layout-2020 .ce-gallery figure                             {display: block;}
  .frame-layout-2020 .ce-column                                     {margin-right: 0; width: 100%;} 
  .frame-layout-2020 img                                            {width: 100%;}
  
   /* 15 Styles For Images */
  .frame-layout-2015 .ce-left      .ce-gallery                      {width: 25%;}
  .frame-layout-2015 .ce-right     .ce-gallery                      {width: 25%;}
  .frame-layout-2015 .ce-center    .ce-gallery                      {width: 25%; margin-left: 37.5%}
  .frame-layout-2015 .ce-gallery figure                             {display: block;}
  .frame-layout-2015 .ce-column                                     {margin-right: 0; width: 100%;} 
  .frame-layout-2015 img                                            {width: 100%;}  
  
   /* 10 Styles For Images */
  .frame-layout-2010 .ce-left      .ce-gallery                      {width: 25%;}
  .frame-layout-2010 .ce-right     .ce-gallery                      {width: 25%;}
  .frame-layout-2010 .ce-center    .ce-gallery                      {width: 25%; margin-left: 37.5%}
  .frame-layout-2010 .ce-gallery figure                             {display: block;}
  .frame-layout-2010 .ce-column                                     {margin-right: 0; width: 100%;} 
  .frame-layout-2010 img                                            {width: 100%;}
  
@media (min-width: 768px) {
  
   /* 100 Styles For Images */
  .frame-layout-2100 .ce-left      .ce-gallery                      {width: 100%;}
  .frame-layout-2100 .ce-right     .ce-gallery                      {width: 100%;}
  .frame-layout-2100 .ce-center    .ce-gallery                      {width: 100%; margin-left: 0%}
  .frame-layout-2100 .ce-gallery figure                             {display: block;}
  .frame-layout-2100 .ce-column                                     {margin-right: 0; width: 100%;} 
  .frame-layout-2100 img                                            {width: 100%;}
  
   /* 95 Styles For Images */
  .frame-layout-2095 .ce-left      .ce-gallery                      {width: 95%;}
  .frame-layout-2095 .ce-right     .ce-gallery                      {width: 95%;}
  .frame-layout-2095 .ce-center    .ce-gallery                      {width: 95%; margin-left:2.50%}
  .frame-layout-2095 .ce-gallery figure                             {display: block;}
  .frame-layout-2095 .ce-column                                     {margin-right: 0; width: 100%;} 
  .frame-layout-2095 img                                            {width: 100%;}
    
   /* 90 Styles For Images */
  .frame-layout-2090 .ce-left      .ce-gallery                      {width: 90%;}
  .frame-layout-2090 .ce-right     .ce-gallery                      {width: 90%;}
  .frame-layout-2090 .ce-center    .ce-gallery                      {width: 90%; margin-left:5.0%}
  .frame-layout-2090 .ce-gallery figure                             {display: block;}
  .frame-layout-2090 .ce-column                                     {margin-right: 0; width: 100%;} 
  .frame-layout-2090 img                                            {width: 100%;}
  
   /* 85 Styles For Images */
  .frame-layout-2085 .ce-left      .ce-gallery                      {width: 85%;}
  .frame-layout-2085 .ce-right     .ce-gallery                      {width: 85%;}
  .frame-layout-2085 .ce-center    .ce-gallery                      {width: 85%; margin-left: 7.50%}
  .frame-layout-2085 .ce-gallery figure                             {display: block;}
  .frame-layout-2085 .ce-column                                     {margin-right: 0; width: 100%;} 
  .frame-layout-2085 img                                            {width: 100%;}

   /* 80 Styles For Images */
  .frame-layout-2080 .ce-left      .ce-gallery                      {width: 80%;}
  .frame-layout-2080 .ce-right     .ce-gallery                      {width: 80%;}
  .frame-layout-2080 .ce-center    .ce-gallery                      {width: 80%; margin-left:10.0%}
  .frame-layout-2080 .ce-gallery figure                             {display: block;}
  .frame-layout-2080 .ce-column                                     {margin-right: 0; width: 100%;} 
  .frame-layout-2080 img                                            {width: 100%;}
  
   /* 75 Styles For Images */
  .frame-layout-2075 .ce-left      .ce-gallery                      {width: 75%;}
  .frame-layout-2075 .ce-right     .ce-gallery                      {width: 75%;}
  .frame-layout-2075 .ce-center    .ce-gallery                      {width: 75%; margin-left: 12.50%}
  .frame-layout-2075 .ce-gallery figure                             {display: block;}
  .frame-layout-2075 .ce-column                                     {margin-right: 0; width: 100%;} 
  .frame-layout-2075 img                                            {width: 100%;}

   /* 70 Styles For Images */
  .frame-layout-2070 .ce-left      .ce-gallery                      {width: 70%;}
  .frame-layout-2070 .ce-right     .ce-gallery                      {width: 70%;}
  .frame-layout-2070 .ce-center    .ce-gallery                      {width: 70%; margin-left: 15.0%}
  .frame-layout-2070 .ce-gallery figure                             {display: block;}
  .frame-layout-2070 .ce-column                                     {margin-right: 0; width: 100%;} 
  .frame-layout-2070 img                                            {width: 100%;}  
  
   /* 65 Styles For Images */
  .frame-layout-2065 .ce-left      .ce-gallery                      {width: 65%;}
  .frame-layout-2065 .ce-right     .ce-gallery                      {width: 65%;}
  .frame-layout-2065 .ce-center    .ce-gallery                      {width: 65%; margin-left: 17.50%}
  .frame-layout-2065 .ce-gallery figure                             {display: block;}
  .frame-layout-2065 .ce-column                                     {margin-right: 0; width: 100%;} 
  .frame-layout-2065 img                                            {width: 100%;}

   /* 60 Styles For Images */
  .frame-layout-2060 .ce-left      .ce-gallery                      {width: 60%;}
  .frame-layout-2060 .ce-right     .ce-gallery                      {width: 60%;}
  .frame-layout-2060 .ce-center    .ce-gallery                      {width: 60%; margin-left: 20.0%}
  .frame-layout-2060 .ce-gallery figure                             {display: block;}
  .frame-layout-2060 .ce-column                                     {margin-right: 0; width: 100%;} 
  .frame-layout-2060 img                                            {width: 100%;}  
  
   /* 55 Styles For Images */
  .frame-layout-2055 .ce-left      .ce-gallery                      {width: 55%;}
  .frame-layout-2055 .ce-right     .ce-gallery                      {width: 55%;}
  .frame-layout-2055 .ce-center    .ce-gallery                      {width: 55%; margin-left: 22.50%}
  .frame-layout-2055 .ce-gallery figure                             {display: block;}
  .frame-layout-2055 .ce-column                                     {margin-right: 0; width: 100%;} 
  .frame-layout-2055 img                                            {width: 100%;}

   /* 50 Styles For Images */
  .frame-layout-2050 .ce-left      .ce-gallery                      {width: 50%;}
  .frame-layout-2050 .ce-right     .ce-gallery                      {width: 50%;}
  .frame-layout-2050 .ce-center    .ce-gallery                      {width: 50%; margin-left: 25%}
  .frame-layout-2050 .ce-gallery figure                             {display: block;}
  .frame-layout-2050 .ce-column                                     {margin-right: 0; width: 100%;} 
  .frame-layout-2050 img                                            {width: 100%;}
  
   /* 45 Styles For Images */
  .frame-layout-2045 .ce-left      .ce-gallery                      {width: 45%;}
  .frame-layout-2045 .ce-right     .ce-gallery                      {width: 45%;}
  .frame-layout-2045 .ce-center    .ce-gallery                      {width: 45%; margin-left: 27.50%}
  .frame-layout-2045 .ce-gallery figure                             {display: block;}
  .frame-layout-2045 .ce-column                                     {margin-right: 0; width: 100%;} 
  .frame-layout-2045 img                                            {width: 100%;}

   /* 40 Styles For Images */
  .frame-layout-2040 .ce-left      .ce-gallery                      {width: 40%;}
  .frame-layout-2040 .ce-right     .ce-gallery                      {width: 40%;}
  .frame-layout-2040 .ce-center    .ce-gallery                      {width: 40%; margin-left: 30%}
  .frame-layout-2040 .ce-gallery figure                             {display: block;}
  .frame-layout-2040 .ce-column                                     {margin-right: 0; width: 100%;} 
  .frame-layout-2040 img                                            {width: 100%;}
  
   /* 35 Styles For Images */
  .frame-layout-2035 .ce-left      .ce-gallery                      {width: 35%;}
  .frame-layout-2035 .ce-right     .ce-gallery                      {width: 35%;}
  .frame-layout-2035 .ce-center    .ce-gallery                      {width: 35%; margin-left: 32.50%}
  .frame-layout-2035 .ce-gallery figure                             {display: block;}
  .frame-layout-2035 .ce-column                                     {margin-right: 0; width: 100%;} 
  .frame-layout-2035 img                                            {width: 100%;}

   /* 30 Styles For Images */
  .frame-layout-2030 .ce-left      .ce-gallery                      {width: 30%;}
  .frame-layout-2030 .ce-right     .ce-gallery                      {width: 30%;}
  .frame-layout-2030 .ce-center    .ce-gallery                      {width: 30%; margin-left: 35%}
  .frame-layout-2030 .ce-gallery figure                             {display: block;}
  .frame-layout-2030 .ce-column                                     {margin-right: 0; width: 100%;} 
  .frame-layout-2030 img                                            {width: 100%;}
  
   /* 25 Styles For Images */
  .frame-layout-2025 .ce-left      .ce-gallery                      {width: 25%;}
  .frame-layout-2025 .ce-right     .ce-gallery                      {width: 25%;}
  .frame-layout-2025 .ce-center    .ce-gallery                      {width: 25%; margin-left: 37.50%}
  .frame-layout-2025 .ce-gallery figure                             {display: block;}
  .frame-layout-2025 .ce-column                                     {margin-right: 0; width: 100%;} 
  .frame-layout-2025 img                                            {width: 100%;}

   /* 20 Styles For Images */
  .frame-layout-2020 .ce-left      .ce-gallery                      {width: 20%;}
  .frame-layout-2020 .ce-right     .ce-gallery                      {width: 20%;}
  .frame-layout-2020 .ce-center    .ce-gallery                      {width: 20%; margin-left: 40%}
  .frame-layout-2020 .ce-gallery figure                             {display: block;}
  .frame-layout-2020 .ce-column                                     {margin-right: 0; width: 100%;} 
  .frame-layout-2020 img                                            {width: 100%;}  
  
   /* 15 Styles For Images */
  .frame-layout-2015 .ce-left      .ce-gallery                      {width: 15%;}
  .frame-layout-2015 .ce-right     .ce-gallery                      {width: 15%;}
  .frame-layout-2015 .ce-center    .ce-gallery                      {width: 15%; margin-left: 42.50%}
  .frame-layout-2015 .ce-gallery figure                             {display: block;}
  .frame-layout-2015 .ce-column                                     {margin-right: 0; width: 100%;} 
  .frame-layout-2015 img                                            {width: 100%;}

   /* 10 Styles For Images */
  .frame-layout-2010 .ce-left      .ce-gallery                      {width: 10%;}
  .frame-layout-2010 .ce-right     .ce-gallery                      {width: 10%;}
  .frame-layout-2010 .ce-center    .ce-gallery                      {width: 10%; margin-left: 45%}
  .frame-layout-2010 .ce-gallery figure                             {display: block;}
  .frame-layout-2010 .ce-column                                     {margin-right: 0; width: 100%;} 
  .frame-layout-2010 img                                            {width: 100%;}

   /* 10 Styles For Images */
  .frame-layout-2005 .ce-left      .ce-gallery                      {width: 5%;}
  .frame-layout-2005 .ce-right     .ce-gallery                      {width: 5%;}
  .frame-layout-2005 .ce-center    .ce-gallery                      {width: 5%; margin-left: 47.5%}
  .frame-layout-2005 .ce-gallery figure                             {display: block;}
  .frame-layout-2005 .ce-column                                     {margin-right: 0; width: 100%;} 
  .frame-layout-2005 img                                            {width: 100%;}
}
 
@media screen and (min-width: 575px) {

  /* three cols */
  .ic-3 .ce-row                                              {display: inline;}
  .ic-3 .ce-column                                           {width: 50%;}
  .ic-3 .ce-column:nth-child(n) figure                       {margin-right: 6px;}
  .ic-3 .ce-column:nth-child(n+1) figure                     {margin-left: 6px;}
    
  /* three cols */
  .ic-3 .ce-row                                              {display: inline;}
  .ic-3 .ce-column                                           {width: 50%;} 
  .ic-3 .ce-column:nth-of-type(odd) figure                   {margin-right: 6px;}
  .ic-3 .ce-column:nth-of-type(even) figure                  {margin-left: 6px;}
  
   /* four cols */  
  .ic-4 .ce-row                                              {display: inline;}
  .ic-4 .ce-column                                           {width: 33.33%;}
  .ic-4 .ce-column:nth-child(n) figure                       {margin-right: 6px; margin-left: 6px;}
  .ic-4 .ce-column:nth-child(n+3) figure                     {margin-right: 0px;}
  .ic-4 .ce-column:first-child figure                        {margin-left: 0px;}
  
   /* five cols */
  .ic-5 .ce-row                                              {display: inline;}
  .ic-5 .ce-column                                           {width: 33.33%;}
  .ic-5 .ce-column:nth-child(n) figure                       {margin-right: 6px; margin-left: 6px;}
  .ic-5 .ce-column:nth-child(n+3) figure                     {margin-right: 0px;}
  .ic-5 .ce-column:first-child figure                        {margin-left: 0px;}

   /* six cols */
  .ic-6 .ce-row                                              {display: inline;}
  .ic-6 .ce-column                                           {width: 33.33%;}
  .ic-6 .ce-column:nth-child(n) figure                       {margin-right: 6px; margin-left: 6px;}
  .ic-6 .ce-column:nth-child(n+3) figure                     {margin-right: 0px;}
  .ic-4 .ce-column:first-child figure                        {margin-left: 0px;}
  
   /* seven cols */
  .ic-7 .ce-row                                              {display: inline;}
  .ic-7 .ce-column                                           {width: 33.33%;}
  .ic-7 .ce-column:nth-child(n) figure                       {margin-right: 6px; margin-left: 6px;}
  .ic-7 .ce-column:nth-child(n+3) figure                     {margin-right: 0px;}
  .ic-7 .ce-column:first-child figure                        {margin-left: 0px;}
  
   /* eight cols */
  .ic-8 .ce-row                                              {display: inline;}
  .ic-8 .ce-column                                           {width: 33.33%;}
  .ic-8 .ce-column:nth-child(n) figure                       {margin-right: 6px; margin-left: 6px;}
  .ic-8 .ce-column:nth-child(n+3) figure                     {margin-right: 0px;}
  .ic-8 .ce-column:first-child figure                        {margin-left: 0px;}
}

@media screen and (min-width: 992px) {

   /* two cols */
  .ic-2 .ce-row                                              {display: block; margin-bottom: 0;}
  .ic-2 .ce-column                                           {width: 50%;} 
  .ic-2 .ce-column:nth-of-type(odd) figure                   {margin-right: 6px;}
  .ic-2 .ce-column:nth-of-type(even) figure                  {margin-left: 6px;}
  
  /* three cols */
  .ic-3 .ce-row                                              {display: inline;}
  .ic-3 .ce-column                                           {width: 33.33%;}
  .ic-3 .ce-column:nth-child(n) figure                       {margin-right: 6px; margin-left: 6px;}
  .ic-3 .ce-column:nth-child(n+3) figure                     {margin-right: 0px;}
  .ic-3 .ce-column:first-child figure                        {margin-left: 0px;}
  
   /* four cols */
  .ic-4 .ce-row                                              {display: block; margin-bottom: 0;}
  .ic-4 .ce-column                                           {width: 25%;} 
  .ic-4 .ce-column:nth-child(n) figure                       {margin-right: 6px; margin-left: 6px;}
  .ic-4 .ce-column:nth-child(n+4) figure                     {margin-right: 0px;}
  .ic-4 .ce-column:first-child figure                        {margin-left: 0px;}

   /* five cols */
  .ic-5 .ce-row                                              {display: block; margin-bottom: 0;}
  .ic-5 .ce-column                                           {width: 25%;} 
  .ic-5 .ce-column:nth-child(n) figure                       {margin-right: 6px; margin-left: 6px;}
  .ic-5 .ce-column:nth-child(n+4) figure                     {margin-right: 0px;}
  .ic-5 .ce-column:first-child figure                        {margin-left: 0px;}

    /* six cols */
  .ic-6 .ce-row                                              {display: inline;}
  .ic-6 .ce-column                                           {width: 20%;}
  .ic-6 .ce-column:nth-child(n) figure                       {margin-right: 6px; margin-left: 6px;}
  .ic-6 .ce-column:nth-child(n+4) figure                     {margin-right: 0px;}
  .ic-6 .ce-column:first-child figure                        {margin-left: 0px;}
  
    /* seven cols */
  .ic-7 .ce-row                                              {display: inline;}
  .ic-7 .ce-column                                           {width: 20%;}
  .ic-7 .ce-column:nth-child(n) figure                       {margin-right: 6px; margin-left: 6px;}
  .ic-7 .ce-column:nth-child(n+4) figure                     {margin-right: 0px;}
  .ic-7 .ce-column:first-child figure                        {margin-left: 0px;}
  
    /* eight cols */
  .ic-8 .ce-row                                              {display: inline;}
  .ic-8 .ce-column                                           {width: 20%;}
  .ic-8 .ce-column:nth-child(n) figure                       {margin-right: 6px; margin-left: 6px;}
  .ic-8 .ce-column:nth-child(n+4) figure                     {margin-right: 0px;}
  .ic-8 .ce-column:first-child figure                        {margin-left: 0px;}
}

@media screen and (min-width: 1200px) {

   /* two cols */
  .ic-2 .ce-row                                              {display: block; margin-bottom: 0;}
  .ic-2 .ce-column                                           {width: 50%;} 
  .ic-2 .ce-column:nth-of-type(odd) figure                   {margin-right: 6px;}
  .ic-2 .ce-column:nth-of-type(even) figure                  {margin-left: 6px;}
  
  /* three cols */
  .ic-3 .ce-row                                              {display: inline;}
  .ic-3 .ce-column                                           {width: 33.33%;}
  .ic-3 .ce-column:nth-child(n) figure                       {margin-right: 6px; margin-left: 6px;}
  .ic-3 .ce-column:nth-child(n+3) figure                     {margin-right: 0px;}
  .ic-3 .ce-column:first-child figure                        {margin-left: 0px;}
  
   /* four cols */
  .ic-4 .ce-row                                              {display: block; margin-bottom: 0;}
  .ic-4 .ce-column                                           {width: 25%;} 
  .ic-4 .ce-column:nth-child(n) figure                       {margin-right: 6px; margin-left: 6px;}
  .ic-4 .ce-column:nth-child(n+4) figure                     {margin-right: 0px;}
  .ic-4 .ce-column:first-child figure                        {margin-left: 0px;}

    /* five cols */
  .ic-5 .ce-row                                              {display: inline;}
  .ic-5 .ce-column                                           {width: 20%;}
  .ic-5 .ce-column:nth-child(n) figure                       {margin-right: 6px; margin-left: 6px;}
  .ic-5 .ce-column:nth-child(n+5) figure                     {margin-right: 0px;}
  .ic-5 .ce-column:first-child figure                        {margin-left: 0px;}

    /* six cols */
  .ic-6 .ce-row                                              {display: block; margin-bottom: 0;}
  .ic-6 .ce-column                                           {width: 16,6666666666666%; } 
  .ic-6 .ce-column:nth-child(n) figure                       {margin-right: 6px; margin-left: 6px;}
  .ic-6 .ce-column:nth-child(n+6) figure                     {margin-right: 0px;}
  .ic-6 .ce-column:first-child figure                        {margin-left: 0px;}
  
    /* seven cols */
  .ic-7 .ce-row                                              {display: inline;}
  .ic-7 .ce-column                                           {width: 14.25%;}
  .ic-7 .ce-column:nth-child(n) figure                       {margin-right: 6px; margin-left: 6px;}
  .ic-7 .ce-column:nth-child(n+7) figure                     {margin-right: 0px;}
  .ic-7 .ce-column:first-child figure                        {margin-left: 0px;}
  
    /* eight cols */
  .ic-8 .ce-row                                              {display: block; margin-bottom: 0;}
  .ic-8 .ce-column                                           {width: 12.5%; } 
  .ic-8 .ce-column:nth-child(n) figure                       {margin-right: 6px; margin-left: 6px;}
  .ic-8 .ce-column:nth-child(n+8) figure                     {margin-right: 0px;}
  .ic-8 .ce-column:first-child figure                        {margin-left: 0px;}

}



